* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
    --cor-gradiente-fundo: linear-gradient(135deg, #E4F0E1 0%, #A3C69D 100%);
    
    /* Card e campos */
    --cor-fundo-card: #F7FDF4;
    --cor-borda-input: #C8E6C9;

    /* Botão principal */
    --cor-destaque: #4CAF50; /* Botão "Entrar" e CTA */
    --cor-destaque-hover: #388E3C; /* Sombra no hover ou variação leve */
    --cor-destaque-foco-sombra: rgba(76, 175, 80, 0.18);

    /* Texto */
    --cor-texto-principal: #2E4F2C; /* Titulos e textos importantes */
    --cor-texto-secundario: #4A5568; /* Textos menos importantes */
    --cor-label: #2E4F2C; /* Labels dos inputs */
    --cor-link: #2E4F2C; /* Links, como "Cadastre-se" */

    /* Ícones e elementos de UI */
    --cor-icones: #A3C69D;

    /* Erros e Feedback */
    --cor-erro-fundo: #FEF2F2;
    --cor-erro-borda: #FECACA;
    --cor-erro-texto: #DC2626;
}



html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  width: 100%;
}